<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ElkAuthenticationActivated" value="false" />
  <add key="ElkUsername" value="loguser" />
  <add key="ElkPassword" value="password" />
  <add key="ElasticsearchHost" value="alminde1.mynetgear.com" />
  <add key="ElasticsearchPort" value="9200" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>
