<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskSharper.WPF.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TaskSharper.WPF.Common.Properties.Settings>
            <setting name="PrimaryColor" serializeAs="String">
                <value>#5ca2e8</value>
            </setting>
            <setting name="Header1Size" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="NotSelectedOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SelectedOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HiddenOpacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimaryFont1Size" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ColorNone" serializeAs="String">
                <value>#dd4b39</value>
            </setting>
            <setting name="ColorAppointment" serializeAs="String">
                <value>#00b140</value>
            </setting>
            <setting name="ColorTask" serializeAs="String">
                <value>#6495ed</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Header2Size" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ButtonHeight45" serializeAs="String">
                <value>45</value>
            </setting>
        </TaskSharper.WPF.Common.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
</configuration>
