<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskSharper.Calender.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="ElkAuthenticationActivated" value="false" />
    <add key="ElkUsername" value="loguser" />
    <add key="ElkPassword" value="password" />
    <add key="ElasticsearchHost" value="alminde1.mynetgear.com" />
    <add key="ElasticsearchPort" value="9200" />
  </appSettings>
    <applicationSettings>
        <TaskSharper.Calender.WPF.Properties.Settings>
            <setting name="CalendarEvent_Height" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CalendarStructure_Height_1200" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>#5ca2e8</value>
            </setting>
            <setting name="Header1Size" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="NotSelectedOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SelectedOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrimaryFont1Size" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ColorNone" serializeAs="String">
                <value>#dd4b39</value>
            </setting>
            <setting name="ColorAppointment" serializeAs="String">
                <value>#00b140</value>
            </setting>
            <setting name="ColorTask" serializeAs="String">
                <value>#6495ed</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ColorRed" serializeAs="String">
                <value>#ff4264</value>
            </setting>
            <setting name="ColorOrange" serializeAs="String">
                <value>#fca635</value>
            </setting>
            <setting name="AliceBlue" serializeAs="String">
                <value>#f0f8ff</value>
            </setting>
        </TaskSharper.Calender.WPF.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>